.desktop {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 400px;
  align-items: center;
}

.contain {
  border: 1px solid black;
  display: flex;
  width: 300px;
  height: 300px;
  flex-direction: row;
  flex-wrap: wrap;
}

.carre {
  color: red;
  position: absolute;
  text-align: center;
  width: 100px;
  height: 100px;
}
#carre1 {
  background-color: rgba(225, 225, 225, 0.4);
}
#carre2 {
  background-color: rgba(225, 225, 225, 0.5);
}
#carre3 {
  background-color: rgba(225, 225, 225, 0.6);
}

#carre4 {
  background-color: rgba(225, 225, 200, 0.4);
}
#carre5 {
  background-color: rgba(225, 225, 200, 0.5);
}
#carre6 {
  background-color: rgba(225, 225, 200, 0.6);
}

#carre7 {
  background-color: rgba(225, 225, 180, 0.4);
}
#carre8 {
  background-color: rgba(225, 225, 180, 0.5);
}
#carre9 {
  background-color: rgba(225, 225, 180, 0.6);
}
